@model int

@* Inside the Url.Action, we create an object parameter that is used to pass the parameter to to the action method of edit in the corresponding controller *@
<a type="button" class="btn btn-primary" btn-sm href="@Url.Action("Edit", new { id=Model})">
    <span class="glyphicon glyphicon-pencil"></span>
    <span>Edit</span>
</a>

